body {
    background-color: rgba(240, 240, 240, 0.8);
}

.title {
    font-size: 4em;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.2em;
    text-align: center;
    margin-bottom: 1em;
}

.todo-item {
    font-size: 20px;
    padding: 10px 25px;
    width: 100%;
    height: auto;
    background-color: white;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.trail-item {
    height: 1px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.todo-input {
    border: none;
    width: 100%;
    padding: 0px;
    outline: none;
    background: inherit;
}

.todo-count {
    font-size: 15px;
}
